* {
  box-sizing: border-box;
}
body {
  font-family: 'Open Sans', sans-serif;

  margin: 0;
  padding: 0;

  display: grid;
  grid-template-columns: 220px 1fr;
}

main {
  display: grid;
  grid-template-columns: 1fr 440px;
  width: 100%;
}

i {
  color: #ABB6C8;
}

/*NAVBAR STYLING*/
nav {
  background-color: #354052;
  color: #ABB6C8;

  grid-column: 1;
}

.portrait {
  border-radius: 45px;

  display: block;
  margin: 2rem auto;
  width: 6em;
}

.portrait:hover {
  cursor: pointer;
  filter: brightness(110%); 
}

.nav-name {
  text-align: center;
}

.nav-wrap-1 {
  margin: auto;
  border-bottom: #30394A solid 2px;
}

.nav-wrap-2, 
.nav-wrap-3, 
.nav-wrap-4 {
  display: grid;
}

.hidden-link-label {
  display: none;
}

.nav-cat-label {
  padding-left: 1.8rem;
  margin-top: 2rem;
}

.admin-label, 
.category-label {
  border-top: #30394A solid 2px;
  padding-top: 2em;
}

.nav-icon, 
.cat-icon{
  font-size: 1.2rem;
  padding-left: 1.3rem;
  border-left: #354052 solid 2px;
}

.cat-icon {
  margin-left: .4rem;
}

.nav-icon:hover {
  color: #FFFFFF;
  cursor: pointer;
}

.blue-icon {
  color: #02A7EE;
}

.yellow-icon {
  color: #FCD90D;
}

.red-icon {
  color: #EB175F;
}

.green-icon {
  color: #01AA88;
}

.yellow-icon:hover, 
.blue-icon:hover, 
.red-icon:hover, 
.green-icon:hover {
  cursor: pointer;
  filter: brightness(170%);
}

.nav-icon {
  align-self: center;
  margin: auto;
  display: block;
}

.nav-link-label, 
.hidden-link-label {
  font-family: 'Open Sans', sans-serif;
  font-size: .8em;
  text-transform: uppercase;
  margin-left: .5rem;
}

.hidden-link-label {
  margin: 0;
  padding: 10px 0;
  border-left: 2px solid #354052;
  border-right: 2px solid #354052;
}

.nav-combo-wrap {
  display: grid;
  grid-template-columns: 1fr 3fr;
  border-left: 2px solid #354052;
}

.nav-combo-wrap:hover .nav-icon, 
.nav-combo-wrap:hover .nav-link-label {
  color: #FFFFFF;
  cursor: pointer;
}

.nav-combo-wrap:hover, 
.hidden-link-label:hover {
  background: #30394A;
  border-left: #27AFFB solid 2px; 
  cursor: pointer;
} 

.jobs-board-wrap, 
.hidden-job {
  background: #30394A;
  color: #FFFFFF;
  cursor: pointer;
  border-left: #27AFFB solid 2px; 
}

.categories {
  text-transform: none;
  margin-left: .5rem;
}

.cat-combo-wrap {
  display: grid;
  grid-template-columns: 1fr 3fr;

  align-items: center;
}

/*TOP SECTION STYLING*/

section {
  height: 52px;
  border-bottom: solid #F0F0F0 1px;


  grid-column: 1/3;
  grid-row: 1;

  display: grid;
  grid-template-columns: 3.75rem 1fr 3.75rem 3.75rem 3.75rem;
}

.arrow-and-lines {
  display: grid;
  align-items: center;
  justify-content: center;
}

.tiny-arrow {
  color: #27AFFB;
  font-size: 1rem;

  padding-right: .3rem;
}

.justify-icon {
  padding-left: .3rem;
}

.search-wrapper {
  border-left: solid #F0F0F0 1px;
  padding-left: 1rem;
}

.magnifying-glass:hover {
  cursor: pointer;
  transform: scale(1.2);
}

.top-search {
  border: none;
  width: 50%;
  margin-bottom: 1rem;
  margin-top: 1rem;
}

::placeholder {
  color: #ABB6C8;
  font-family: 'Open Sans', sans-serif;
  font-size: .8rem;

  margin-bottom: .3rem;
}

.top-icon-div {
  border-left: solid #F0F0F0 1px;

  display: grid;
  align-items: center;
  justify-content: center;
}

.arrow-and-lines:hover, 
.arrow-and-lines:hover .justify-icon, 
.top-icon-div:hover, 
.top-icon-div:hover .top-right-icons {
  background-color: #27AFFB;
  color: #FFFFFF;
  cursor: pointer;
}

/*HEADER STYLING */

header {
  color: #909090;

  grid-column: 1/3;

  display: grid;
  grid-template-columns: 1fr 250px;
  grid-template-rows: 60% 40%;
}

h1 {
  font-size: 1.4rem;
  font-weight: 400;

  margin-bottom: .5rem;
}

.header-nav-wrap {
  grid-column: 1/3;
  grid-row: 2;
}

.hidden-hamburger-wrapper {
  display: none;
}

.hidden-hamburger-wrapper:hover, 
.hidden-hamburger-wrapper:hover .hidden-header-hamburger {
  background-color: #27AFFB;
  color: #FFFFFF;
  cursor: pointer;
}

.tiny-arrow {
  padding-left: .2rem;
}

.marker-icon {
  color: #909090;
  font-size: .8rem;
  font-weight: 300;
}

.location {
  font-family: 'Open Sans', sans-serif;

  display: inline-block;
  margin-top: 0;
  padding-left: .3rem;
}

.preview {
  color: #27AFFB;
}

.preview:hover {
  text-decoration: underline;
  text-decoration-color: #27AFFB solid;
  cursor: pointer;
}

.header-nav-links {
  display: inline-block;
  border-bottom: #FFFFFF solid;
  margin-left: 2rem;
  margin-bottom: 0;
  padding-bottom: 1.2rem;
  text-transform: uppercase;
}

.summary {
  border-bottom: #27AFFB solid;
}

.header-nav-links:hover {
  border-bottom: #27AFFB solid;
  cursor: pointer;
}

.main-header-wrap {
  margin-left: 2rem;

  grid-column: 1;
  grid-row: 1;
}

.header-right-wrap {
  margin-top: 1.5rem;
  margin-right: 1rem;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  align-items: bottom;
}

.right-wrap-wrap {
  display: flex;
  align-items: center;
}

.dot {
  color: #228B22;
  font-size: .7em;

  border: #d5dae3 solid 1.5px;
  border-radius: 20px;

  padding-left: .5rem;
  padding-right: .5rem;
}

.open-text {
  color: #909090;
  font-family: 'Open Sans', sans-serif;
  font-weight: 700;

  display: inline-block;
  padding-left: .5rem;
}

.header-right-icon {
  font-size: .9em;

  border: #d5dae3 solid 1.5px;
  border-radius: 35px;

  margin-left: 1rem;
  padding: .6rem;
}

.header-right-icon:hover, 
.dot:hover, 
.dot:hover .open-text {
  cursor: pointer;
  color: #FFFFFF;
  background-color: #909090;
  border-color: #909090;
}

/*CHARTS STYLING*/

.charts {
  background-color: #EDF2F6;
  grid-column: 1/3;

  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 80% 20%;
}

.animated-chart {
  display: block;
  margin: auto;
  width: 95%;

  align-self: center;
  grid-column: 1;
}

.chart-label-1, 
.chart-label-2 {
  background: #FFFFFF;
  color: #909090;
  font-size: .7rem;

  border: #d5dae3 solid 1.5px;
  border-radius: 35px;
  margin: 1rem auto 1rem auto; 
  padding: .5rem; 

  grid-row: 2;
}

.bar-chart {
  display: block;
  margin: 1rem auto;
  width: 90%;

  align-self: center;
  grid-column: 2;
}

.chart-label-2 {
  grid-column: 2;
  text-transform: uppercase;
}

/* CHART/JOB BORDER */

.chart-job-border {
  background-color: #EDF2F6;

  height: 50px;
  padding-bottom: 1rem;
  padding-top: 1rem;

  grid-column: 1/3;
  display: flex;
}

.border-arrow:hover {
  color: #27AFFB;
  cursor: pointer;
}

.chart-job-hr {
  color: #d5dae3;
  width: 48%;
}

/*JOB DESCRIPTION STYLING*/

.job-description {
  color: #6F7E95;

  padding-bottom: 2rem;

  background-color: #EDF2F6;
  grid-column: 1;
}

.main-wrapper {
  background-color: #FFFFFF;
  margin: 0 2rem;

  display: grid;
  grid-template-columns: 200px 1fr;
}

.job-wrapper {
  background: #7A8AA4;
}

.main-h5 {
  margin: 1.5rem 1rem;
  text-transform: uppercase;
}

.main-p {
  padding-right: 1rem;
  align-self: center;
  margin-bottom: 1rem;
  margin-top: 1rem;
}

.position-h5 {
  margin-top: 1.5rem;
}

.main-header-h5 {
  color: #FFFFFF;
}

.edit-wrapper {
  background: #7A8AA4;

  display: flex;
  align-items: center;
}

.edit-icon {
  box-sizing: content-box;
  background: #6F7E95;
  color: #FFFFFF;

  padding: .5rem;
  width: 3.7rem;
}

.edit-icon:hover {
  background: #FFFFFF;
  color: #6F7E95;
  cursor: pointer;
}

.edit-text {
  font-family: 'Open Sans', sans-serif;
  text-transform: uppercase;

  display: inline-block;
  margin: 0 .4rem 0 .4rem;
}

.hiring-lead-wrapper {
  display: flex;
  align-items: center;
}

.hiring-lead-avatar {
  margin-right: 1rem;
  width: 2em;
}

.hiring-lead-avatar:hover {
  cursor: pointer;
  filter: brightness(115%);
}

.hiring-lead-name:hover {
  cursor: pointer;
  text-decoration: underline;
}

.main-break {
  grid-column: 1/3;
  color: #909090;
  width: 95%;
}

/*ASIDE STYLING*/

aside {
  padding-right: 2rem;
  /*padding-top: 1.5rem;*/
  background-color: #EDF2F6;
  grid-column: 2;
}

.facebook, 
.twitter, 
.linkedin {
  margin-bottom: .5rem;
  margin-top: .5rem;

  display: flex;
  align-items: center;
  justify-content: center;
}

.facebook {
  margin-top: none;
}

.facebook:hover, 
.twitter:hover, 
.linkedin:hover {
  filter: brightness(115%);
  cursor: pointer;
}

.twitter, 
.linkedin {
  margin-top: .8rem;
}

.facebook-icon, 
.twitter-icon, 
.linkedin-icon {
  box-sizing: content-box;

  background: #496DC1;
  color: #FFFFFF;
  font-size: .8rem;

  border-radius: 3px;
  padding: 1rem;
  width: 22rem;
}

.facebook-text, 
.twitter-text, 
.linkedin-text {
  font-family: 'Open Sans', sans-serif;
  font-size: .8rem;
  margin: 0 .4rem 0 100px;

  display: inline-block;
}

.facebook-text {
  margin-left: 110px;
}

.twitter-text {
  margin-left: 115px;
}

.linkedin-text {
  margin-left: 110px;
}

.twitter-icon {
  background: #02A7EE;
}

.linkedin-icon {
  background: #037FBD;
}

.job-link-icon, 
.widget-link-icon, 
.upload-link-icon {
  color: #909090;

  margin-bottom: .5rem;
  margin-top: .5rem;

  display: flex;
  align-items: center;
  justify-content: center;
}

.job-link-text, 
.widget-link-text, 
.upload-link-text {
  font-family: 'Open Sans', sans-serif;

  margin-top: 1rem;
  margin-bottom: 0;
  padding-left: .5rem;

  display: inline-block;
}


.aside-text {
  color: #909090;
  font-size: .8rem;
  
  margin-top: 0;
}

.aside-copy-wrapper {
  display: flex;
  align-items: center;
}

.aside-input {
  font-size: .5rem;

  border: none;
  width: 100%;
  padding: .5rem;
  display: inline-block;
}

.aside-copy {
  background: #46B8BB;
  color: #FFFFFF;
  font-size: .5rem;

  padding: .5rem;
  display: inline-block;
}

.aside-copy:hover {
  background-color: #909090;
  color: #FFFFFF;
  cursor: pointer;
}

.email-field {
  background: #FFFFFF;
  color: #909090;
  font-size: .8rem;

  margin-top: 9px;
  margin-bottom: 9px;
  padding-left: .5rem;
}

/*CIRCLE GRAPHS*/
.flex-wrapper {
  display: flex;
  flex-flow: row nowrap;
}

.single-chart {
  transform: rotate(180deg);
  width: 33%;
  justify-content: space-around ;
}

.circular-chart {
  display: block;
  margin: 10px auto;
  max-width: 80%;
  max-height: 250px;
}

.circle-bg {
  fill: none;
  stroke: #eee;
  stroke-width: 3.8;
}

.circle {
  fill: none;
  stroke-width: 2.8;
  stroke-linecap: round;
  animation: progress 1s ease-out forwards;
}

@keyframes progress {
  0% {
    stroke-dasharray: 0 100;
  }
}

.circular-chart.orange .circle {
  stroke: #ff9f00;
}

.circular-chart.green .circle {
  stroke: #4CC790;
}

.circular-chart.blue .circle {
  stroke: #3c9ee5;
}

.percentage {
  fill: #666;
  font-family: 'Open Sans', sans-serif;
  font-size: 0.15em;
  text-anchor: middle;

  transform: rotate(180deg);
}

.p-number {
  font-size: .5em;
}

@media (max-width: 1200px) {

  .job-description {
  grid-column: 1/3;
  padding-bottom: 0;
  }
  
  aside {
  padding-right: 2rem;
  padding-left: 2rem;
  padding-top: 0;
  background-color: #EDF2F6;
  grid-column: 1/3;

  display: grid;
  grid-template-columns: 50% 50%;
  }

 .social-wrapper, 
 .aside-wrapper3 {
    grid-column: 2;
  }

  .aside-wrapper1, 
  .aside-wrapper2 {
    grid-column: 1;
  }

  .aside-wrapper1 {
    grid-row: 1;
  }

  .aside-wrapper2 {
    grid-row: 2;
  }

  .aside-wrapper3 {
    grid-row: 1;
  }

  .aside-wrapper1, 
  .aside-wrapper2, 
  .aside-wrapper3 {
    margin: 1em;
  }

  .email-field {
    padding-right: 0px;
  }

  .header-nav-links {
    font-size: .6rem;
    padding-bottom: .5rem;
  }

  .facebook-text, 
  .twitter-text, 
  .linkedin-text {
    display: none;
  }

  .facebook-icon, 
  .twitter-icon, 
  .linkedin-icon {
    width: .75rem;
    display: inline;
  }

  .facebook, 
  .twitter, 
  .linkedin {
    margin: 0 1em;
  }

  .social-wrapper {
    display: flex;

    align-items: start;

    justify-content: center;
  }
}

@media (max-width: 950px) {
  body {
    grid-template-columns: 120px 1fr;
  }

  .portrait {
    width: 4em;
  }

  .nav-name {
    font-size: .8rem;
  }

  .nav-combo-wrap {
    display: none;
  }

  .hidden-link-label {
    display: block;
  }

  nav {
    text-align: center;
    width: 120px;
  }

  .nav-cat-label {
    text-align: center;
    padding: 0;
    font-weight: 700;
  }

  .admin-label {
    padding-top: 2rem;
  }

  .category-label {
    text-align: center;
  }

  .nav-wrap-4 {
    display: none;
  }
}

@media (max-width: 780px) {
  .charts {
    display: flex;
    flex-direction: column;
  }

  .animated-chart {
    margin-top: 1rem;
  }

  .chart-label-1 {
    margin-bottom: 0;
  }

  .chart-label-2 {
    margin-top: 0;
  }

  .main-p, 
  .main-h5 {
    margin-top: .8em;
    margin-bottom: .8em;
  }

  .edit-text {
    display: none
  }

  .edit-icon {
    width: 1em;
    background: none;
  }

  .main-wrapper {
    align-items: center;
  }

  .main-header-h5 {
    margin-top: 8.5px;
    margin-bottom: 8.5px;
  }

  .top-main-item {
    padding-top: 13px;
  }

  aside {
    display: flex;
    flex-direction: column;
  }

  .social-wrapper {
    margin-top: 1rem;
  }

  .email-field {
    width: 100%;
  }

  .aside-wrapper1, 
  .aside-wrapper2, 
  .aside-wrapper3 {
    margin-top: 0;
    margin-bottom: 0;
  }

  .main-header-wrap {
    grid-column: 1/3
  }

  .hidden-hamburger-wrapper {
    display: inline;
    padding: .7rem;
    padding-left: .7rem;
    padding-right: 0;
  }

  .summary {
    margin-left: 1rem;
    margin-top: 2rem;
  }

  .nav-links-mq-hide {
    display: none;
  }

  .header-nav-wrap {
  grid-column: 1;
  grid-row: 2;
  }

  .header-right-wrap {
  grid-row: 2;
  margin-top: 0;
  align-items: center;
  }
}

@media (max-width: 660px) {
  header {
    grid-template-rows: repeat (2, 1fr);
  }

  .header-right-wrap {
    display: flex;
    justify-content: start;
    grid-column: 2;
    margin-top: .5rem;
    margin-bottom: 1rem;
    padding-right: 1rem;
  }

  .header-nav-wrap {
    grid-column: 1;
    grid-row: 2;
    display: flex;
    align-content: end;
  }

  .main-header-wrap {
    grid-column: 1/3;
  }

  .header-right-wrap, 
  .header-nav-wrap {
    height: 40px;
  }

  .header-nav-links {
    padding-top: .5rem;
    padding-bottom: 1.3rem;
  }

  .hidden-hamburger-wrapper {
    margin-top: 1.5rem;
    padding-top: .5rem;
    padding-bottom: .5rem;
  }

  .job-description {
    box-sizing: content-box;
    font-size: .8em;
  }

  .edit-wrapper {
    padding-top: 15px;
    padding-bottom: 14px;
  }

  .edit-wrapper, 
  .main-header-h5 {
    height: 12px;
  }

  .main-wrapper {
    grid-template-columns: 140px 1fr;
  }
}

@media (max-width: 560px) {
  main {
    grid-column: 1/3;
  }

  nav {
    display: none;
  }
}

@media (max-width: 450) {
  .bar-chart {
    width: 300px;
  }

  .flex-wrapper {
  flex-direction: column;
  }
}